<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label>username:</label>
        <input name="username" type="text">
        <label>mobile:</label>
        <input name="mobile" type="text">
        <label>email:</label>
        <input name="email" type="text">
        <label>address:</label>
        <input name="address" type="text">
        <label>password:</label>
        <input name="password" type="text">
        <button>submit</button>
</body>
</html>